$green-main-color: #395b4d;
$green-second-color: #a44c24;

.bar {
  background: rgb(0 0 0 / 30%);
  color: #fef2e4;
  padding: 10px;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 20px;
}

.bar_green_box {
  background-color: $green-main-color;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
}

.bar_red_box {
  background-color: $green-second-color;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
}

.bar_workspace-button-green {
  background-color: $green-main-color;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
}

.bar_workspace-button-red {
  background-color: $green-second-color;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
}
