$green-main-color: #395b4d;
$green-second-color: #a44c24;

$clouds-main-color: #778b92;
$clouds-second-color: #364b5e;

.main_bar {
  background: rgb(0 0 0 / 30%);
  color: #fef2e4;
  padding: 10px;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 10px;
}

.main_clr {
  background-color: $green-main-color;
}

.snd_clr {
  background-color: $green-second-color;
}

.bar_box {
  padding: 8px 20px 8px 20px;
  border-radius: 10px;
}

.bar_workspace_button {
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
}

.player_box {
  border-width: 0px;
}
