.bar {
  background: rgb(0 0 0 / 30%);
  color: #fef2e4;
  padding: 10px;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 20px;
}

.bar_stuff slider {
  all: unset;
  color: #a44c24;
}

.bar_workspaces button:hover {
  color: #D35D6E;
}

.bar_green_box {
  background-color: #395b4d;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
}

.bar_red_box {
  background-color: #a44c24;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
}

.bar_workspace-button {
  background-color: #395b4d;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
}
